html {
    font-size: 18px;
    font-family: "Merienda", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;

}
.guia {
    padding: 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.links{
    text-shadow: 1px 1px 6px #c6c6c6;
}

.links:active {
    color: #ffffff;
}

.links:hover {
    color: #7d7d7d;
}

.links:link {
    color: #ffffff;
}
.links:visited {
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    padding-top: 0;
}


#contador {
    font-size: 2rem;
    background: rgb(46, 45, 45);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 4px 8px rgba(111, 106, 106, 0.4);
    margin: 40px 0px;

}

.hr {
    width: 1100px;
}

.cuenta-atras {
    margin: 0px 20px;
}
.parrafo {
    margin: 30px;
}

#fecha {
    border: 2px solid white;
    border-bottom: #000000;
    border-top: #000000;
    margin: 20px;
}

.preboda {
    color: #ffffff;
    margin: auto;
}

.contenedor {
    display: flex;
    flex-direction: column; /* Elementos en columna */
    align-items: center;  /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center; /* Alinear el texto */
}


.imagen-playa {
    margin: 40px;
    padding: auto;
    max-width: 70%;
}

@media (max-width: 800px) {
    .imagen-playa {
      max-width: 100%;
      margin: 0;
      padding: auto;
    }
  }

  @media (max-width: 800px) {
    .imagen-finca {
      max-width: 100%;
      margin: 0;
      padding: auto;
    }
  }



.contenedor p {
    font-size: 1.2rem;
    color: #d8d8d8;
    margin-top: 20px;
}
