html {
    font-size: 16px;
    font-family: "Merienda", sans-serif;
    color: #ffffff;
}
body {
    margin-top: auto;
    padding: 0;
    background-color: #000000;
    
}

header {
    display: block;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 0;
    padding-top: 40px;

}

main {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    padding-top: 0;
}

.contenedor {
    display: block;
    text-align: center;
    margin: auto;
    padding: auto;
}


.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a.links{
    text-shadow: 3px 2px 3px #e6e6e6;

}

.links:active {
    color: #5c5c5c;
}

.links:hover {
    color: #666666;
}

.links:link {
    color: #605d5d;
}
.links:visited {
    color: #ffffff;
}

.imagen-playa {
    display: block;
    margin: auto;
    padding: auto;
    transform: scale(0.7);
    width: 100%;
    height: auto;
}

.imagen-finca {
    display: block;
    margin: auto;
    padding: auto;
    width: 100%;
    height: auto;
}

.fecha {
    display: block;
    margin: auto;
    padding: auto;
    text-align: center;
}


footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}


