html {
    font-size: 16px;
    font-family: "Merienda", sans-serif;
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
    
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    text-align: center;

}

.contenedor {
    margin: auto;
    padding: auto;
    max-width: 1200px;
}

.imagen-playa {
    width: 100%;
    height: 100%;
}

a.links{
    text-shadow: 3px 2px 3px #e6e6e6;
}

.lista {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}

.lista li {
    display: inline;
    margin-right: 20px;
}

.lista li a:hover {
    color: #6b8c9b;
}


.links:link {
    color: #ffffff;
}

.links:visited {
    color: #ffffff;
}

.links:hover {
    color: #6b8c9b;
}

.links:active {
    color: #ffffff;
}

hr {
    border: 1px solid #ffffff;
    margin: 0px 0px;
}


